.menuItem {
  border-radius: 5px;
  background-color:var(--white-color);
  text-align: center;
  padding: 5px;
  margin: 0 3px;
  cursor: pointer;
  
  & > span {
    padding:0 2px
  }
}

.active {
  color:var(--white-color);
  background-color:var(--light-red-color); 
 }

 @media(max-width: 599px){
  .menuItem {
    margin: 10px 5px;
  }
}