.MenuCard {
  padding: 10px;
  height: 100%;
  // border: 1px solid var(--primary-color);
  border: 1px solid #555;
  border-radius: 5px; 
  font-size: 1.3em;
}

@media(max-width: 599px){
  .MenuCard {
    height: auto;
    border: 1px solid #fafafa;
  }
}