.topDrawer {

  .ant-drawer-body {
    padding: 20px;
    background-color:var(--blue-10-color);
  }
  
  .ant-drawer-close {
    color: var(--white-color);
    font-size: 25px;
    padding: 2% 4%;
  }
}