.topDrawer {

  .ant-drawer-body {
    padding: 20px;
    // background-color:var(--blue-10-color);
    // background: url('/dark-triangles.webp');
    // background: url('/double-bubble-dark.png');
    background: url('/moroccan-flower-dark.png');    
    // background-size: cover;
  }
  
  .ant-drawer-close {
    color: var(--white-color);
    font-size: 25px;
    padding: 2% 4%;
  }
}