/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-drawer {
  position: fixed;
  z-index: 1000;
  width: 0%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s, width 0s ease 0.3s;
}
.ant-drawer > * {
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.ant-drawer-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 100%;
}
.ant-drawer-left,
.ant-drawer-right {
  top: 0;
  width: 0%;
  height: 100%;
}
.ant-drawer-left .ant-drawer-content-wrapper,
.ant-drawer-right .ant-drawer-content-wrapper {
  height: 100%;
}
.ant-drawer-left.ant-drawer-open,
.ant-drawer-right.ant-drawer-open {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.ant-drawer-left {
  left: 0;
}
.ant-drawer-left .ant-drawer-content-wrapper {
  left: 0;
}
.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
}
.ant-drawer-right {
  right: 0;
}
.ant-drawer-right .ant-drawer-content-wrapper {
  right: 0;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
}
.ant-drawer-right.ant-drawer-open.no-mask {
  right: 1px;
  transform: translateX(1px);
}
.ant-drawer-top,
.ant-drawer-bottom {
  left: 0;
  width: 100%;
  height: 0%;
}
.ant-drawer-top .ant-drawer-content-wrapper,
.ant-drawer-bottom .ant-drawer-content-wrapper {
  width: 100%;
}
.ant-drawer-top.ant-drawer-open,
.ant-drawer-bottom.ant-drawer-open {
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.ant-drawer-top {
  top: 0;
}
.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}
.ant-drawer-bottom {
  bottom: 0;
}
.ant-drawer-bottom .ant-drawer-content-wrapper {
  bottom: 0;
}
.ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
}
.ant-drawer-bottom.ant-drawer-open.no-mask {
  bottom: 1px;
  transform: translateY(1px);
}
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  height: 100%;
  opacity: 1;
  transition: none;
  animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  pointer-events: auto;
}
.ant-drawer-title {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.ant-drawer-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
}
.ant-drawer-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  text-rendering: auto;
}
.ant-drawer-close:focus,
.ant-drawer-close:hover {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.ant-drawer-header-no-title .ant-drawer-close {
  margin-right: var(--scroll-bar);
  /* stylelint-disable-next-line function-calc-no-invalid */
  padding-right: calc(20px - var(--scroll-bar));
}
.ant-drawer-header {
  position: relative;
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.ant-drawer-header-no-title {
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
}
.ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.ant-drawer-body {
  flex-grow: 1;
  padding: 24px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}
.ant-drawer-footer {
  flex-shrink: 0;
  padding: 10px 10px;
  border-top: 1px solid #f0f0f0;
}
.ant-drawer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  filter: alpha(opacity=45);
  transition: opacity 0.3s linear, height 0s ease 0.3s;
  pointer-events: none;
}
.ant-drawer-open-content {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.ant-drawer .ant-picker-clear {
  background: #fff;
}
@keyframes antdDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ant-drawer-rtl {
  direction: rtl;
}
.ant-drawer-rtl .ant-drawer-close {
  right: auto;
  left: 0;
}

.DPCard {
  height: 350px;
  background-color: var(--primary-color);
  background-image: url('/me/profilex250.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-width: 1px 1px 0 1px;
  border-color: var(--light-red-color);
  border-style: solid;
  border-radius: 3px 3px 0 0;
}
.profile {
  height: 150px;
  width: auto;
}
.profile > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3%;
}
.nameContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #affffb);
}
.name {
  padding: 10px;
  color: #555;
  font-size: 4em;
  text-shadow: 5px 3px var(--light-red-color);
}
.description {
  font-size: 1.4em;
  background-color: var(--light-red-color);
  padding: 10px;
  color: #affffb;
  border-radius: 0 0 3px 3px;
}
@media (max-width: 599px) {
  .DPCard {
    background-color: #ffffff6b;
  }
}

.topDrawer .ant-drawer-body {
  padding: 20px;
  background: url('/me/moroccan-flower-dark.png');
  background: url('/moroccan-flower-dark.png');
}
.topDrawer .ant-drawer-close {
  color: var(--white-color);
  font-size: 25px;
  padding: 2% 4%;
}

.headContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menuCol {
  margin-top: 20px;
  height: 100%;
}

* {
  box-sizing: border-box;
}
html,
body,
#__next {
  --white: #ffffff;
  --white-2: #fafafa;
  --black: #000000;
  --black-2: #141414;
  --volcano-6: #fa541c;
  --cyan-5-color: #36cfc9;
  --blue-2: #bae7ff;
  --blue-color: #7ccced;
  --light-blue-color: #9fd1e6;
  --red-color: #db3b3b;
  --light-red-color: #fb8063;
  --yellow-color: #fac95e;
  --pure-white-color: #fff;
  --white-color: #f9f9f9;
  --purple-color: #564f98;
  --light-purple-color: #7873c7;
  --grey-color: #b3b3b3;
  --dark-grey-color: #b6b6b6;
  --darker-grey-color: #808183;
  --darkest-grey-color: #555;
  --light-grey-color: #bcbec0;
  --lighter-grey-color: #e0e0e0;
  --lightest-grey-color: #f1f1f1;
  --blue-10-color: #002766;
  --primary-color: #bae7ff;
  --secondary-color: #fa541c;
  --white-color: #fafafa;
  --grey-color: #555;
  --background-color: #051939;
  width: 100%;
  height: 100%;
  color: var(--darkest-grey-color);
  background-image: url('/me/flat-mountains-light.svg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.headCard {
  background: transparent;
  margin: 10px;
  flex: 2;
}
.bodyCard {
  margin: 10px;
  flex: 5;
  background-color: #0000000d;
}
.bodyCard .ant-card-body {
  height: 100%;
  overflow-y: scroll;
}
.page-container {
  margin-top: 40px;
}
@media (max-width: 599px) {
  #__next {
    flex-direction: column;
  }
  .headCard {
    flex: 0;
    background: transparent;
    margin: 0;
    position: relative;
  }
  .drawerHandle {
    border: 2px solid #1F51FF;
    background-color: var(--white-color);
    width: 30px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    margin: 0 10px;
    float: right;
    cursor: pointer;
    position: fixed;
    right: 15px;
    z-index: 3;
  }
  .page-container {
    margin-top: 70px;
  }
}
.rr-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem {
  border-radius: 5px;
  text-align: center;
  font-size: 1.3em;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
}
.menuItem > span {
  padding: 0 2px;
}
.active {
  color: var(--light-red-color);
}
@media (max-width: 599px) {
  .menuItem {
    margin: 5px 5px;
    font-size: 1.5em;
  }
}

.MenuCard {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 3px 3px 6px 0px var(--purple-color);
}
@media (max-width: 599px) {
  .MenuCard {
    margin-top: 20px;
  }
}

.linkComp {
  padding: 5px;
  font-size: 1.3em;
}
.linkComp > a > span:nth-child(2) {
  margin: 0 5px;
}

.ant-typography.welcome {
  text-align: center;
  margin: 60px 50px;
  color: var(--darkest-grey-color);
}
.about {
  margin: 20px;
  text-align: center;
  font-size: 2em;
  height: 235px;
}
.socialLinks {
  text-align: center;
  margin: 50px 0;
}
.socialLinks > div {
  justify-content: center;
}
@media (max-width: 599px) {
  .ant-typography.welcome {
    margin: 80px 50px;
  }
  .welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-weight: 500;
  }
  .about {
    margin: 50px 0;
    text-align: center;
    font-size: 1.5em;
  }
}

.container {
  margin: 10px 20px;
}
.ant-typography.antdTitle {
  color: var(--darkest-grey-color);
}
.link {
  font-size: 15px;
  font-style: italic;
}
.ant-typography.projectTitle {
  color: var(--light-red-color);
}
.card {
  background-color: #ffffffcf;
}
.feature {
  font-size: 15px;
}
@media (max-width: 599px) {
  .container {
    margin: 5px;
  }
}

.container {
  margin: 10px 20px;
}
.skillCol {
  margin: 5px 10px;
  border-radius: 3px;
  padding: 5px 20px;
}
.skillCol .ant-typography {
  font-size: 16px;
}
.skillCol .ant-card-body {
  overflow: hidden;
  padding: 5px;
}
.card {
  background-color: #ffffffcf;
}
.ant-typography.antdTitle {
  color: var(--darkest-grey-color);
}
@media (max-width: 599px) {
  .container {
    margin: 5px;
  }
}

