.DPCard {
  padding: 10px;
  background-color: var(--cyan-5-color); 
  height: '100%';
}

.profile{
  height: 150px;
  width: auto;
  
  & > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
  }
}

.name {
  font-size: 5em;
}

.description {
  font-size: 1.4em;
}